<div class="burger-menu-button">
    <span></span>
</div>
<div class="top-menu burger-menu desktop">
    <ul>
        <li class="header-search">
            <input class="search-input header-search-input"
                   type="text"
                   id="headerSearch"
                   name="mainSearch"
                   value="What are you looking for?">
            <button class="search-submit search-icon"
                    id="submitHeaderSearch"
                    name="submitSearch"></button>
        </li>
        <li class="top top-menu-item popup-menu user">
            <a href="" class="top-nav user-icon">Login</a>
        </li>
        <li class="services top-menu-item popup-menu" my-drop-down ng-class="state">
            <a class="popup-menu-button top-nav services-icon"
               href="#"
               title="More Sitecore sites">More</a>
            <ul class="popup-menu-content popup">
                <li><a href="#" target="_blank">AAAA</a></li>
                <li><a href="#" target="_blank">BBBB</a></li>
                <li><a href="#" target="_blank">CCCC</a></li>
            </ul>
        </li>
        <li class="top top-menu-item popup-menu contact">
            <a href="#" class="top-nav contact-icon" title="Contact information">Contact</a>
        </li>
    </ul>
</div>