@*<h2 class="section-heading">Latest</h2>*@
<section class="links drop-item">
    <h3 class="links-heading">
        <span class="second-part">Blogs</span>
        <a class="expand-collapse expand-icon" href=""></a>
    </h3>
    <div class="links-content">
        <ul>
            <li>
                @*<a href="#" title="" class="link-title" target="_blank">Link One</a>
                    <p class="link-info">@Html.Encode(DateTime.Now.ToLongDateString())</p>*@
            </li>

        </ul>
        <a class="rss-footer" href="#" target="_blank">updated blogs</a>
    </div>
</section>
<section class="links drop-item ">
    <h3 class="links-heading">
        <span class="second-part">Posts</span>
        <a class="expand-collapse expand-icon" href=""></a>
    </h3>
    <div class="links-content">
        <ul>
            <li>
                @*<a href="#" title="Post One" class="link-title">Post One</a>
                    <p class="link-info">@Html.Encode(DateTime.Now.ToLongDateString())</p>*@
            </li>

        </ul>

        <a class="rss-footer" href="#" target="_blank">recent posts</a>
    </div>

</section>
<section class="links drop-item" my-open-close-tab ng-class="state">
    <h3 class="links-heading">
        <span class="second-part">Tags</span>
        <a class="expand-collapse expand-icon" href=""></a>
    </h3>
    <div class="links-content">
        <ul>
            <li>
                @*<a href="#" title="Tag One" class="link-title">Tag One</a>
                    <p class="link-info">@Html.Encode(DateTime.Now.ToLongDateString())</p>*@
            </li>

        </ul>
        <a class="rss-footer" href="#" target="_blank">all tags</a>
    </div>
</section>