@using Sitecore.Mvc.Configuration
@using Sitecore.StandardBlog.Kernel.ViewModel.Layout
@using Sitecore.StandardBlog.Web.Areas.StandardPage.ViewModels.Partial

@model TagLayoutViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = string.Concat("Tag - ", Model.ViewModel.ViewData.Name);

    string homeTitle = "Home";

    /*Model.BlogPostViewModel.ViewData.Author.Id*/
    string homeUrl = Url.RouteUrl(MvcSettings.SitecoreRouteName, new RouteValueDictionary(new { pathInfo = "" }));
    
    BreadcrumbViewModel breadcrumbModel = new BreadcrumbViewModel() { };
    breadcrumbModel.ViewData.Add(new Tuple<string, string>(homeUrl, homeTitle));

}

@section Breadcrumb {
    @Html.Partial("Breadcrumb", breadcrumbModel)
}


<article class="panel-section topic-page">
    <section class="topic-wrapper inner-content">
        <a href="" class="print-icon" onclick="window.print()"></a>

        <section class="topic-section">
            <div class="topic-head content-head">
                <h1 class="topic-title">
                    /@Html.Raw(Model.ViewModel.ViewData.Name)
                </h1>
            </div>
            <div class="topic-content">
                <p>&nbsp;</p>
            </div>
        </section>

    </section>

    @Html.Partial("SideMenu")

</article>

